.form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 90%;
}

#countryName {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid white;
    outline: 0;
    font-size: 1.3rem;
    color: white;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;

    &::placeholder {
        color: transparent;
    }

    &:placeholder-shown~.form__label {
        font-size: 1.3rem;
        cursor: text;
        top: 20px;
    }
}

.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: white;
}

#countryName:focus {
    ~.form__label {
        position: absolute;
        top: 0;
        display: block;
        transition: 0.3s;
        font-size: 1rem;
        color: #11998e;
        font-weight: 700;
    }

    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #11998e, #38ef7d);
    border-image-slice: 1;
}

/* reset input */
#countryName {

    &:required,
    &:invalid {
        box-shadow: none;
    }
}

/* demo */
body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 1.5rem;
    background-color: #303030;
}

#header {
    color: red;
}

#value {
    color: white;
}

#result {
    margin-right: auto;
    padding: 50px;
}

#flagHosting {
    width: 30%;
}

#mainHdr {
    text-align: center;
    margin-top: -70px;
    color: orangered;
}

#srchButton {
    margin: 20px;
    margin-top: 1em;
    min-height: 10px;
	display: inline-block;
	position: relative;
	z-index: 1;
	overflow: if(false, unset, hidden);
	
	text-decoration: none;
	
	font-family: sans-serif;
	font-weight: 800;
	font-size: 1em;
	
	padding: 5px 2em;
	
	color: green;
	
	border: 0.15em solid green;
	border-radius: calc(0.75em + 0.5em + 0.15em);
	
	transition: 2s;
	
	&:before,
	&:after {
		content: '';
		position: absolute;
		top: -1.5em;
		
		z-index: -1;
		
		/* width: 200%; */
		aspect-ratio: 1;
		
		border: if(false, inherit, none);
		border-radius: 40%;
		
		background-color: rgba(green, 0.25);
		
		transition: 2s;
	}
	
	/* &:before {
		left: -80%;
		transform: translate3d(0, 5em, 0) rotate(-340deg);
	}
	
	&:after {
		right: -80%;
		transform: translate3d(0, 5em, 0) rotate(390deg); 
	} */
	
	&:hover,
	&:focus {
		color: white;
		
		&:before,
		&:after {
			transform: none;
			background-color: rgba(green, 0.75);
		}
	}
}

#clrButton {
    margin: 20px;
    margin-top: 1em;
    min-height: 10px;
	display: inline-block;
	position: relative;
	z-index: 1;
	overflow: if(false, unset, hidden);
	
	text-decoration: none;
	
	font-family: sans-serif;
	font-weight: 800;
	font-size: 1em;
	
	padding: 5px 2em;
	
	color: red;
	
	border: 0.15em solid red;
	border-radius: calc(0.75em + 0.5em + 0.15em);
	
	transition: 2s;
	
	&:before,
	&:after {
		content: '';
		position: absolute;
		top: -1.5em;
		
		z-index: -1;
		
		/* width: 200%; */
		aspect-ratio: 1;
		
		border: if(false, inherit, none);
		border-radius: 40%;
		
		background-color: rgba(red, 0.25);
		
		transition: 2s;
	}
	
	/* &:before {
		left: -80%;
		transform: translate3d(0, 5em, 0) rotate(-340deg);
	}
	
	&:after {
		right: -80%;
		transform: translate3d(0, 5em, 0) rotate(390deg); 
	} */
	
	&:hover,
	&:focus {
		color: white;
		
		&:before,
		&:after {
			transform: none;
			background-color: rgba(red, 0.75);
		}
	}
}